*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 3000px;
}
main{
    position: relative;
    top: 91px;
}

/*  -- HEADER -- */

header{
    width: 100%;
    border: none;
    margin: 0;
    
    display: flex;
    justify-content: center;
    position: fixed;
    height: 90px;
    background: linear-gradient(90deg, rgba(50, 73, 79, 2) 0%, rgba(0, 0, 0, 1) 100%);
    border-bottom: 1px solid white;
    z-index: 2;
}
nav{
display: flex;
justify-content: space-between;
width: 1300px;
align-items: center;
margin: 0%;
}
.nav-image-container{
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: fit-content;

}
.nav-image-container h1{
    color: #187b6f;
    margin-left: 20px;
    font-size: 2.5rem;
}
.nav-image-container span {
    color: #edb865;
}

.nav-image{
    height: 70px;
    width: 70px;
    display: none;
}
.nav-links{
    display: flex;
    align-items: center;
    margin-right: 15px;
    position: relative;
}
.nav-links p{
    margin:0 8px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: rgb(173, 173, 173);
}
.nav-links p:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.nav-links-botoes-1{
    display: flex;
   
}
.nav-links-botoes-2 {
    width: 250px;
    display: none;
    position: absolute;
    top: 50px;
    left: -500%;
    /* border: 1px solid white; */
    border-radius: 3%;
    background-color: rgba(45, 73, 79, 2);
}
.nav-lista{
    width: 50px !important;
    height: 60px;
    display: none;
}

/*  -- FIM HEADER -- */

/*  -- MAIN -- */
/* -- HOME -- */
#home{
    width: 100%;
    /* border-bottom: 1px solid white; */

}
.home-logo-container{
    border: 2px solid cyan;
    height: 500px;
    background: linear-gradient(90deg, rgba(50, 73, 79, 2) 0%, rgba(0, 0, 0, 1) 100%);
}
.home-logo{

    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-logo h1{
font-size: 8rem;
text-align: center;
color: #edb865;
margin: 0;
}
.home-logo h2 {
    text-align: center;
    color: #edb865;
    margin: 0;
    letter-spacing: 10px;
    font-size: 1.65rem;
}
.home-logo span {
color: #187b6f;
}
.home-logo img{
    width: 300px;
    margin-bottom: -50px;
}

.home-leftRight-container{
    border: 2px solid red;
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
}
.home-leftRight-container .left {
    height: 500px;
    border: 1px solid black;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home-leftRight-container .left h1{
    font-size: 4.5rem;
    /* color: rgb(63, 63, 63); */
    color: #0b3833;
}
.home-leftRight-container .left p{
    font-weight:400;
    font-size: 1.5rem;
   
}
.home-leftRight-container .right{
    /* border: 2px solid red; */
    width: 500px;
    height: 700px;
    border-radius: 45px;
    overflow: hidden;
    color: white;
    box-shadow: 5px 10px 10px rgb(128, 128, 128);

}
.home-leftRight-container .right label{
    font-size: 1.7rem;
    width: 90%;
}
.home-leftRight-container .right input {
   height: 100%;
   width: 90%;
   border-radius: 50px;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 1.2rem;
    
}
.home-leftRight-container .right .top{
    /* border: 2px solid cyan; */
    height: 20%;
    background-color: #edb865;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.home-leftRight-container .right .top h1{
    text-align: center;
    font-size: 2rem;
}
.home-leftRight-container .right .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#187b6f;
    
    height: 80%;
 
}
.home-leftRight-container .right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    margin-top: -15%;
    
}
.inputContainer{
    width: 85%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    align-items: center;
}
.right #botao{
    height: 60px;
    position: absolute;
    top: 65%;
    width: 200px;
    background-color: #edb865;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 1.3rem;

}


/* -- END HOME -- */
#solucoes{
    border: 2px solid cyan;
    height: 400px;
        background: linear-gradient(90deg, rgba(50, 73, 79, 2) 0%, rgba(0, 0, 0, 1) 100%);

}

/* -- END MAIN -- */
@media screen and (max-width: 1700px) {
.home-leftRight-container .left {
        width: 650px;
    }
    .home-leftRight-container .right {
            /* border: 2px solid red; */
            width: 450px;
            height: 650px;
            border-radius: 45px;
            overflow: hidden;
            color: white;
            box-shadow: 5px 10px 10px rgb(128, 128, 128);
    
        }
    .home-leftRight-container .right label {
        font-size: 1.5rem;
        width: 90%;
        }
    .home-leftRight-container .right .top h1 {
        text-align: center;
        font-size: 1.8rem;
    }
    .home-leftRight-container .left h1 {
        font-size: 3.5rem;     
        color: #0b3833;
        }
    
        .home-leftRight-container .left p {
            font-weight: 500;
            font-size: 1.2rem;
    
        }
        .right #botao {
            height: 60px;     
            top: 64%;
            width: 200px;     
            font-size: 1.3rem;
        
            }
    }
@media screen and (max-width: 1550px) {
    .home-leftRight-container .left {
            width: 600px;
        }

    .home-leftRight-container .right {
            /* border: 2px solid red; */
            width: 400px;
            height: 600px;
            border-radius: 45px;
            overflow: hidden;
            color: white;
            box-shadow: 5px 10px 10px rgb(128, 128, 128);
    
        }
    
        .home-leftRight-container .right label {
            font-size: 1.3rem;
            width: 90%;
        }
    
        .home-leftRight-container .right .top h1 {
            text-align: center;
            font-size: 1.6rem;
        }
    
        .home-leftRight-container .left h1 {
            font-size: 3.4rem;
            color: #0b3833;
        }
    
        .home-leftRight-container .left p {
            font-weight: 500;
            font-size: 1.1rem;
    
        }
        .right #botao {
            height: 60px;
            top: 63%;
            width: 200px;
            font-size: 1.3rem;
        
         }
}

@media screen and (max-width: 1450px) {
    .home-leftRight-container .left {
            width: 550px;
        }
    .home-leftRight-container .right {
            /* border: 2px solid red; */
            width: 350px;
            height: 550px;
            border-radius: 45px;
            overflow: hidden;
            color: white;
            box-shadow: 5px 10px 10px rgb(128, 128, 128);
    
        }
    
        .home-leftRight-container .right label {
            font-size: 1.2rem;
            width: 90%;
        }
    
        .home-leftRight-container .right .top h1 {
            text-align: center;
            font-size: 1.5rem;
        }
    
        .home-leftRight-container .left h1 {
            font-size: 3.3rem;
            color: #0b3833;
        }
    
        .home-leftRight-container .left p {
            font-weight: 500;
            font-size: 1rem;
    
        }
}

@media screen and (max-width: 1250px){
    /*  -- HEADER -- */
    nav{
        display: flex;
        justify-content: space-between;
        width: 1000px;
        align-items: center;
        /* border: 3px solid cyan; */
        margin: 0%;
    }
        .nav-image-container h1 {
           font-size: 20px;
        }
.nav-links p {
       margin: 0 8px;
       font-weight: 600;
       font-size: 14px;
   }
 .nav-image {
     height: 60px;
     width: 60px;
 }
  .nav-image-container h1 {
      color: #187b6f;
      margin-left: 20px;
      font-size: 2rem;
  }
 /*  -- FIM HEADER -- */
 /* --  MAIN -- */
 
/* -- HOME -- */

.home-leftRight-container .left {
    width: 450px;
    margin-right: 10px;
}



 /* -- FIM HOME -- */
 /* -- FIM MAIN -- */
}


@media screen and (max-width: 980px) {
    /*  -- HEADER -- */

    .nav-links-botoes-1 {
        display: none;
    }
    .nav-image {
        height: 70px;
        width: 70px;
         }

    .nav-lista {
        width:35px;
        display: flex;

    }
    .nav-lista:hover{
        cursor: pointer;
    }
    .nav-links p {
        margin: 10 8px;
        font-weight: 600;
        font-size: 18px;
    }
    /*  -- FIM HEADER -- */
    /* -- MAIN -- */
    /* -- HOME -- */
.home-logo h1 {
    font-size: 6rem;
}

.home-logo h2 {
    letter-spacing: 10px;
    font-size: 1.01rem;
}
.home-logo img {
    width: 250px;
    margin-bottom: -50px;
}
.home-logo {
    margin-top: -10px;
}

    /* -- FIM HOME -- */
    /* -- FIM MAIN -- */

}

@media screen and (max-width: 500px) {
    /*  -- HEADER -- */
    .nav-links {
            display: flex;
            /* border: 1px solid red; */
            align-items: center;
            margin-right: 15px;
            position:unset;
    }
    .nav-links-botoes-2 {
        width: 350px;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    /*  -- FIM HEADER -- */


}
